
# Built-app files
# Composer
# Cypress
# File Types
# Ignore all .map files in the /build directory
# System and IDE files
#node_modules
*.log
*.sql
*.zip
.DS_Store
.idea
/.docs
/assets/*
/build/*.map
/dist/*
/node_modules
/tests/_output
/tests/_support/_generated
/tests/cypress/screenshots
/tests/cypress/videos
/vendor
/wordpress
/wp-content
cypress.env.json
