#nfd-help-center {
  .modal {
    padding-bottom: 32px;

    h4,
    h3 {
      margin: 0 0 !important;
    }

    .modal-header {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      .heading {
        display: flex;
        align-items: center;
        .icon {
          margin-right: 10px;
          padding-top: 3px;
        }
      }

      .close-button {
        border: 0;
        background: none;
      }
    }
  }
}
