$gray-text: #394150;
$container-width: 350px;

#nfd-help-center {
	box-sizing: border-box;

	.nfd-hc-modal {
		padding-bottom: 32px;

		h4,
		h3 {
			margin: 0;
		}

		&__header {
			background-color: #fff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: sticky;
			top: 0;
			left: 0;
			padding: 17px 23px 10px;

			&__heading {
				font-size: 16px;
				line-height: 24px;
				font-weight: 500;
				color: #000;

				&__icon {
					margin-right: 12px;
					vertical-align: middle;
				}
			}

			&__close-button {
				all: unset;
  			cursor: pointer;
				position: absolute;
				top: 6px;
				right: 7px;
				width: 17px;
				height: 17px;
			}
		}
	}

	.helpcenter-intro {
		padding: 12px 23px;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;

		&__text {
			padding: 0 8px;
		}
	}
}
