$gray-text: #394150;
$container-width: 350px;

#nfd-help-center {
	box-sizing: border-box;

	.nfd-hc-modal {
		padding-bottom: 32px;

		h4,
		h3 {
			margin: 0;
		}

		&__header {
			background-color: #fff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: sticky;
			top: 0;
			left: 0;
			padding: 17px 23px 10px;

			&__heading {
				font-size: 16px;
				line-height: 24px;
				font-weight: 500;
				color: #000;

				&__icon {
					margin-right: 12px;
					vertical-align: middle;
				}
			}

			&__close-button {
				all: unset;
  			cursor: pointer;
				position: absolute;
				top: 6px;
				right: 7px;
				width: 17px;
				height: 17px;
			}

			&__minimize-button {
				position: absolute;
				width: 18px;
				height: 18px;
				display: inline-block;
				color: darkgray;
				cursor: pointer;
				top: 4px;
				right: 30px;
				outline: transparent;
				border: 0px solid transparent;
				background: transparent;

				&::before,
				&::after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
				}

				/* Outer square */
				&::before {
					top: 0;
					bottom: 0;
					border: 2px solid #c9c9c9;
					border-radius: 4px;
					box-sizing: border-box;
					background: transparent;
				}

				/* Bottom line */
				&::after {
					bottom: 5px;
					left: 4px;
					right: 4px;
					height: 2px;
					background-color: darkgray;
					border-radius: 1px;
				}

				&:hover {
					color: #111;
				}

				&:focus-visible {
					outline: 2px solid #3b82f6;
					outline-offset: 3px;
				}
			}
		}
	}

	.helpcenter-intro {
		padding: 12px 23px;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;

		&__text {
			padding: 0 8px;
		}
	}
}

.iframe-modal {

	&__overlay {
		position: fixed;
		inset: 0;
		z-index: 50;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.75);
		cursor: pointer;
	}

	&__content {
		position: relative;
		width: 60%;
		max-width: 1024px;
		margin: 0 1rem;
		cursor: default;
	}

	&__close {
		position: absolute;
		top: -2.5rem;
		right: 0;
		font-size: 1.875rem;
		font-weight: 700;
		color: #fff;
		background: none;
		border: none;
		cursor: pointer;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: #d1d5db;
		}
	}

	&__iframe-wrapper {
		position: relative;
		width: 100%;
		padding-bottom: 56.25%; // 16:9 aspect ratio1616
	}

	&__iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
		border-radius: 0.5rem; // rounded-lg equivalent
	}
}

