.skeleton {
  background-color: #eee;
  border-radius: 4px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 310px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 25%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.1) 75%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.5s infinite;
  }
}

@keyframes shimmer {

  100% {
    transform: translateX(100%);
  }
}

.skeleton-text {
  height: 32px;
  width: 100%;
  margin: 12px 0;
}


.skeleton-subtext {
  height: 32px;
  width: 50%;
  margin: 0;
}

.skeleton-card {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  margin: 16px 0;
}

/* The clickable overlay that sits above the inline iframe */
.hc-iframe-click-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: grid;
  place-items: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;

  /* Optional play icon */

  /* &::before {
    content: '';
    width: 64px;
    height: 64px;
    border-radius: 9999px;
    background: rgba(0,0,0,0.5);
    display: block;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    margin-left: 6px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid white;
  }

  &:hover {
    background: linear-gradient(
      to bottom,
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.35)
    );
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px rgba(59,130,246,0.7);
  } */
}

/* Ensure wrapper can host absolutely-positioned overlay */
.wp-block-embed__wrapper { position: relative; }

.helpcenter-back-arrow {
  cursor: pointer;
  color: #356CD8;
  display: inline-flex;
  gap: 6px;
  padding-top: 10px;
}
