/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable selector-class-pattern */
@use './modal';

$blue: #196bde;
$white: #fff;
$light-gray: #f0f3f5;
$feedback-bg: #e6fff4;
$hover-blue: rgb(57 172 229 / 10%);
$dark-gray: #1d1d1f;
$feedback-negative: #ffdcdc;
$border-light-gray: #dcdcdc;
$border-color-button: #b2bcc2;
$box-shadow-hover: #3575d3;
$box-shadow-light: #dddfe0;
$box-shadow-dark: rgb(0 0 0 / 25%);
$gray-text: #394150;
$blue-night-sky: #7a889d;
$blue-links-color: #356CD8;

%padding-x-23 {
  padding-left: 23px;
  padding-right: 23px;
}

.nfd-help-center-tip[data-post-id]  {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #DBE9FF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-weight: 600;
    font-size: 12px;
}

.nfd-hc-seperator{

  @extend %padding-x-23;

  hr{
    margin: 0;
  }
}

#nfd-help-center {

  * {
    box-sizing: border-box;
  }
}

.nfd-help-center {
  position: relative;
  height: calc(100vh - 255px);
  overflow-y: auto;
  z-index: 10;


  p {
    font-size: 13px;

    br {
      content: '';
      display: block;
      /*margin-bottom: 5px;  Adjust this value as per your requirements */
    }
  }

  h4,
  h3 {
    margin: 0;
  }

  .launch-help-center {
    text-align: center;

    .launch-description {
      margin: 24px 0;
    }

    .launch-action {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      width: 146px;
      height: 36px;
      background-color: $blue;
      border: 1px solid $blue;
      color: $white;
      cursor: grab;
    }

    p {
      font-size: 18px;
    }

    a {
      margin-top: 16px;
      display: block;
      cursor: grab;
    }
  }

  .HistoryList {
    gap: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color:#336AD7;
    font-size: 12px;
  }

  .helpcenter-input-wrapper {
    position: fixed;
    width: 356px;
    background: #f3f7fa;
    z-index: 12;
    bottom: 0;

    .search-container__wrapper {
      padding: 5px 23px 12px;

      .search-container {
        position: relative;
        display: flex;
        height: 42px;
        border-radius: 8px;
        background-color: $light-gray;

        input {
          background-color: #fff;
          font-size: 13px;
          line-height: 19px;
          padding-left: 10px;
          width: 100%;
          padding-right: 30px;
          color: $blue-night-sky;
          border: 1px solid #d4d4d4;
          border-radius: 6px;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        button {
          box-shadow: none;
          padding-top: 3px;
          border: none;
          background: transparent;
          cursor: pointer;
          position: absolute;
          right: 2px;
          top: 7px;
          transform: rotate(-15deg);
        }
      }

      .attribute {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        padding-left: 2px;
        padding-right: 2px;
        color: $gray-text;

        p {
          padding-top: 7px;
          margin: 5px 0 10px;
        }

        .hc-input-label{
          color: #000;
        }

        .hc-input-counter {
          margin: 5px 0 10px;
        }

        span {
          color: #808080;
          font-weight: 400;
          font-size: 13px;
        }
      }

      .multisearch-loader {
        display: flex;
        justify-content: center;
      }

      .helpcenter-recent-search{
        padding-top:15px;

        &--item{
          display: flex;
          align-items: center;
          gap: 6px;
          cursor: pointer;
          color: $blue-links-color;
          margin-bottom: 8px;
        }
      }

    }
  }

  .suggestions-wrapper {

    @extend %padding-x-23;
    padding-bottom: 15px;

    position: fixed;
    width: 356px;
    bottom: 90px;
    background: $white;
    box-shadow: 2px -1px 3px 0 rgba(0, 0, 0, 0.1);

    .algolia-result {
      border-radius: 5px;
      display: flex;
      margin-bottom: 8px;
      padding: 10px 16px;
      box-shadow: 0 0 0 1px $box-shadow-light;
      transition: box-shadow 0.2s ease;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      justify-content: space-between;
      color: $gray-text;
      background-color: #F2F2F2;
      font-weight: 500;
      font-size: 12px;

      p {
        margin: 0;
      }

      .svg {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        transition: transform 0.2s ease;
      }

      &:hover {
        box-shadow: 0 0 0 2px $box-shadow-hover;

        .svg {
          transform: translateX(2px);
        }
      }
    }
  }

  .feedback-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-weight: 500;
    border-top: 1px solid rgba(231, 231, 231, 1);

    .feedback-question {

      p{
        margin: 3px 0;
      }
    }

    .feedback-button {
      all: unset;
      width: 29px;
      height: 29px;
      border: none;
      font-size: 18px;
      cursor: pointer;
      box-shadow: none;

      :hover {
        filter: brightness(1.05);
        transition: filter 0.3s linear;
      }
    }

    .button-icon {
      height: 20px;
      width: 20px;
      margin-right: 4px;
    }

    .icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .hc-results-container {

    @extend %padding-x-23;

    h2 {
      font-size: 1.1em;
    }
    
    .helpcenter-results {
      padding: 0;
      
      ul {
        line-height: 1.5;
      }
    }

   .helpcenter-response-block .helpcenter-results figure {
    margin: 0 !important;
    padding: 0 !important;
    }

    .helpcenter-question-block {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 600;
      padding: 25px 0 5px 0;
    }

    .helpcenter-result-block {
		padding: 0 0 12px 0 ;

		p {
			margin: 0 0 5px 0;
		}

		/* Reset default styles */
		h1, h2, h3, h4, h5, h6 {
			line-height: 1;
		}

		ul,
		ol {
			margin: 0;
			padding: 0;
			list-style-position: inside;

          li{
            margin-bottom:10px;
          }
		}

		ul {
			list-style-type: disc;
		}

		/* Standardize list items */
		li {
			margin: 0;
			padding: 0;
		}

		/* fit the media in parent container: ; */
		img, picture, video, audio, iframe {
			max-width: 100%;
			height: auto;
			vertical-align: middle;
		}

		.wp-block-quote {
			border-left: 4px solid rgb(128 128 128 / 20%);
			padding-left: 5px;
			margin: auto 0;
		}
    }
  }
}

.help-container {
  width: 356px;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  right: 0;
  background: $white;
  display: block !important;
  box-shadow: 0 4px 4px 8px rgb(95 172 234 / 10%);
  z-index: 9999;
}

.wpcontent-container {
  display: flex;

  #wpbody {
    flex: 1;
  }
}

.toplevel_page_bluehost {

  @media screen and (width >= 1814px) {

    .wpcontent-container {
      display: flex;

      #wpbody {

        #bwa-app {
          margin-left: 20px !important;

          #bluehost-logo-wrap {
            padding: 14px 0 0 12px;
          }
        }
      }
    }
  }
}

body:is(.page, .post-php, .post-new-php) {

  #wp-admin-bar-help-center {
    display: none;
  }
}

.mobile {

  #wpadminbar {

    ul#wp-admin-bar-root-default {

      li {
        width: 40px !important;
      }
    }

    li#wp-admin-bar-help-center {
      display: block;
    }
  }
}

.icon-button {
  cursor: pointer;
}

.loading-cursor {
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #000;
  margin-left: 5px;
  animation: blip 1s infinite;
  margin-top: 30px;
}

@keyframes blip {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hc-input-error-message {
  color: rgb(255 126 126);
  font-size: 12px;
  margin: 5px 0 0;
}

.dislike-feedback {
  font-size: 13px;
  margin: 0 20px;
  font-weight: 400;
  padding-top: 5px;

  @media screen and (max-height: 900px) {
    height: 600px;
    overflow-y: auto;
  }

  p {
    font-size: 13px;
    font-weight: 700;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  a {
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    color: $blue-links-color;
  }

  .dislike-feedback-icon {
    margin: 40px;
    display: flex;
    justify-content: center;
  }
}

.nfd-hc-modal__footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #f3f7fa;
  color:#000;

  &__breakline {
    padding: 20px 23px 0;
    border: none;
    color: #e7e7e7;

    hr {
      margin: 0;
    }
  }

  .helpcenter-supportinfo__wrapper {
    padding: 15px 23px 0;

    .helpcenter-supportinfo__breakline {
      margin: 0;
    }

    .helpcenter-supportinfo__text {
      padding: 15px 0 30px;

      &--heading {
        font-size: 13px;
        font-weight: 500;
      }

      &--body {
        font-size: 13px;
        font-weight: 400;
        margin: 0;

        a {
          text-decoration: none;
          color: $blue-links-color;
        }

      }
    }

    .helpcenter-supportinfo__telephone {
      margin-bottom: 12px;

      /* stylelint-disable-next-line no-descending-specificity */
      span {
        margin-right: 8px;
        vertical-align: text-top;

        a {
          text-decoration: none;
          color: #196cdf;
        }
      }
    }

    .helpcenter-supportinfo__chat {
      margin-bottom: 12px;

      /* stylelint-disable-next-line no-descending-specificity */
      span {
        margin-right: 8px;
        vertical-align: text-top;

        a {
          text-decoration: none;
          color: #196cdf;
        }
      }
    }
  }

  .hc-banner__wrapper{
    position: relative;
    height: 210px;
    width: 360px;

    .hc-banner {
      position: absolute;
      bottom: 0;
      z-index: 1;
      padding: 10px 23px 20px;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hc-banner-content {

        &__heading {
          font-size: 13px;
          font-weight: 500;
          margin: 0 0 15px;
        }

        &__body {
          font-size: 12px;
          width: 90%;
          margin: 0 0 15px;
        }

        &__cta {
          display: flex;

          &--button {
            height: 28px;
            font-size: 12px;
            background-color: #121212;
            color: #fff;
            border-radius: 5px;
            border: none;
            padding: 6px 10px;
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
    }

    .hc-banner-background {
      position: absolute;
      bottom: -5px;
      width: 100%;
    }
  }
}

.helpcenter-noresult-wrapper {

   @extend %padding-x-23;

  .helpcenter-noresult-block {
    padding-top: 18px;
    color:#000;

      .helpcenter-noresult-icon {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ul{
        list-style: disc;
        padding-left: 20px;

        a{
          color : $blue-links-color;
          text-decoration: none;
          font-weight: 400;
        }
      }
  }
}

.helpcenter-back-arrow {
    cursor: pointer;
    color : $blue-links-color;
    display: inline-flex;
    gap: 6px;
    padding-top: 10px;
  }

  #nfd-hc-floating-icon-wrapper{
      position: fixed;
      bottom: 24px;
      right: 0;
      z-index: 9999;
      background-color:#fff;
      border: none;
      overflow: visible !important;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }

  .nfd-hc-floating-icon {
    width: 56px;
    height: 76px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -6px 1px 12px #DEEEFB;
    padding-left: 4px;
    cursor: pointer;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease,
      background-color 0.2s ease;

    svg {
      width: 28px;
      height: 28px;
      fill: currentcolor;
    }

     & > p {
      font-size: 12px;
      margin: 0;
      color: #000;
    }

    &:hover {
      background-color: #1d4ed8;
      transform: translateY(-2px);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
       
      p {
        color: #fff;
      }
    }

    &:active {
      transform: scale(0.96);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    }

    &:focus-visible {
      outline: 3px solid #93c5fd;
      outline-offset: 2px;
    }
  }
